   <!-- CARROSSEL -->
<div class="carousel-container">

    <button class="carousel-arrow left" aria-label="Anterior">
        <svg viewBox="0 0 70 70" class="arrow-svg">
            <polyline points="42,18 26,35 42,52" class="arrow-double" />
            <polyline points="52,18 36,35 52,52" class="arrow-double" />
        </svg>
    </button>

    <button class="carousel-arrow right" aria-label="Próximo">
        <svg viewBox="0 0 70 70" class="arrow-svg">
            <polyline points="28,18 44,35 28,52" class="arrow-double" />
            <polyline points="18,18 34,35 18,52" class="arrow-double" />
        </svg>
    </button>

    <div class="carousel-slide active">
        <a href="https://processoseletivo.fieb.edu.br/Docentes" target="_blank">
            <picture>
                <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_processoseletivo2026.png">
                <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_processoseletivo2026.png">
            </picture>
        </a>
    </div>

    <div class="carousel-slide">
        <a href="https://vestibulinho.fieb.edu.br/" target="_blank">
            <picture>
                <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_vestibulinho_20261.png">
                <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_vestibulinho_20261.png">
            </picture>
        </a>
    </div>

    <div class="carousel-slide">
        <a href="https://fieb.edu.br/lista-de-materiais/" target="_blank">
            <picture>
            <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_lista_materiais_2026.png">
            <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_lista_materiais_2026.png">
            </picture>
        </a>
    </div>

    <div class="carousel-slide">
        <a href="https://reservadevagas.fieb.edu.br/" target="_blank">
            <picture>
                <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_reservadevagas_2026_desktop.png">
                <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_reservadevagas_2026_desktop.png">
            </picture>
        </a>
    </div>

    <div class="carousel-slide">
        <a href="https://fieb.edu.br/nexus" target="_blank">
            <picture>
                <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_nexus.jpg">
                <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_nexus.jpg">
            </picture>
        </a>
    </div>

    <div class="carousel-slide">
        <a href="https://whatsapp.com/channel/0029VakGwrSCMY0ENunPA72u" target="_blank">
            <picture>
                <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_whatsappfieb.png">
                <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_whatsappfieb.png">
            </picture>
        </a>
    </div>

    <div class="carousel-slide">
        <a href="https://estagio.fieb.edu.br/" target="_blank">
            <picture>
                <source media="(min-width:770px)" srcset="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_estagio_desktop.jpg">
                <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/banner_estagio_desktop.jpg">
            </picture>
        </a>
    </div>

    <div class="carousel-dots"></div>
</div>
