
@use '../variaveis' as *;


.home-site {
    /* ----- inicio do wallpaper ----- */

    .wallpaper-home {
        position: relative;
        width: 100%;
        height: 840px;
        background: url("https://fieb.edu.br/wp-content/themes/fieb-2022/img/home.jpg") center top / cover no-repeat;
        overflow: hidden;
        margin: 0 !important;
        padding-top: 0 !important;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(90deg, rgba(150,0,200,.05), rgba(0,120,255,.07));
            z-index: 2;
            pointer-events: none;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient( to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 58%, rgba(255,255,255,.07) 70%, rgba(255,255,255,.22) 80%, rgba(255,255,255,.5) 88%, rgba(255,255,255,.8) 94%, rgba(255,255,255,1) 100% );
            z-index: 3;
            pointer-events: none;
        }


        @media (max-width: 992px) and (min-width: 901px) {
            .ft-full-bleed {
                top: -55px;
            }
        }

        @media (max-width: 900px) {
            .ft-full-bleed {
                top: -26px;
            }
        }

        @media (max-width: 769px) {
            .ft-full-bleed {
                top: -26px;
            }
        }
        /* ========================================== HERO / BANNER ========================================== */



        .ft-svg-wrapper {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1152px;
            height: 100%;
            z-index: 4;
            pointer-events: none;
        }

            .ft-svg-wrapper svg a,
            ft-svg-wrapper svg a * {
                pointer-events: auto;
                cursor: pointer;
            }


        .ft-svg-anim {
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
            z-index: 4;
        }

        .ft-hero-arrow {
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-50%);
            z-index: 6;

            img {
                width: 100px;
                height: 100px;
            }
        }
        /* HERO MOBILE */
        @media (max-width: 769px) {
            .ft-hero {
                height: 520px;
            }

            .ft-svg-anim {
                height: 260px;
                top: -20px;
                opacity: 1 !important;
            }

            .ft-hero-arrow {
                bottom: 22px;
            }

            svg {
                width: 100%;
                height: 100%;

                text {
                    font-size: 24px !important;
                    font-weight: 500;
                    letter-spacing: .3px;
                }
            }
        }
    }
    /* ----- fim do wallpaper ----- */

    .carrossel-banner {
        .swiperBanner {
            height: 380px;

            img {
                height: 350px;
                object-fit: cover;
            }

            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    background-color: rgb(212 199 221);
                }

                .swiper-pagination-bullet-active {
                    background-color: $c-roxo-escuro-site;
                    opacity: 1;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: transparent !important;

                i {
                    transition: transform 0.5s ease;
                    color: $c-verde-site;
                    font-weight: bold;

                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }

    .cursos-home {
        .mySwiperCursos {
            width: 100%;
            height: 60vh;
            margin-bottom: 1rem;

            .swiper-wrapper {
                height: 100%;
                align-items: center;
            }

            .swiper-pagination {

                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    background-color: rgb(212 199 221);
                }

                .swiper-pagination-bullet-active {
                    background-color: $c-roxo-escuro-site;
                    opacity: 1;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }

            .swiper-slide {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.5;
                transition: opacity .3s;

                a {
                    display: flex;
                    justify-content: center;
                }

                img {
                    height: 100%;
                    width: 75%;
                    object-fit: contain;
                }

                &.swiper-slide-active {
                    opacity: 1;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: $c-verde-site !important;
                background: rgb(88, 38, 124);
                height: 100px;
                width: 60px;
                padding: 1.5rem;
                opacity: 0.8;
                border-radius: 0rem 1rem 1rem 0rem !important;
            }

            .swiper-button-prev {
                border-radius: 1rem 0rem 0rem 1rem !important;
            }
        }
    }

    .ingresso-home {
        background-color: $c-roxo-escuro-site;

        .back-ingresso {
            background-image: url(https://fieb.edu.br/wp-content/themes/fieb-2022/img/graf_formas_amarelo_laranja.png);
            background-repeat: no-repeat;
            background-position: 5rem top;
            background-size: 150px;
        }

        .collapsing {
            transition: none !important;
        }

        .titulo-ingresso {
            color: white;

            h2 {
                font-size: 3.5rem;
                font-weight: bold;
            }
        }

        .formas-ingresso {

            ul {
                list-style: none;

                li {
                    border-bottom: 1px solid white;
                    padding: 5px 0 5px 30px;
                    display: flex;
                    align-items: center;

                    .square {
                        width: 10px;
                        height: 10px;
                        margin-right: 1rem;
                        background-color: $c-roxo-escuro-site;
                        transition: background-color .3s;
                    }

                    a {
                        font-size: 1.3rem;
                        color: white;
                        text-decoration: none;
                        font-weight: 400;
                        transition: font-weight .2s;
                    }

                    &.ativo {
                        .square {
                            background-color: $c-verde-claro-site;
                        }

                        a {
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .quem-pode {
            p {
                color: white;
                margin-bottom: 1rem;
            }

            .btn-acompanhe {
                width: fit-content;
                text-decoration: none;
                color: $c-roxo-escuro-site;
                background-color: $c-verde-claro-site;
                border-radius: 1rem 0 1rem 1rem;
                padding: 0.5rem 2rem;

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }

    .titulo {
        h2 {
            color: $c-roxo-escuro-site;
            font-weight: bold;
            font-size: 3.5rem;
        }
    }
}
