
<div class="container-fluid my-5 ingresso-home py-5">
    <div class="container py-5 back-ingresso">

        <div class="row mb-5 m-0 d-flex justify-content-center">
            <div class="col-6 titulo-ingresso text-center">
                <h2>Como Ingressar na FIEB</h2>
                <p>Tem dúvidas sobre como estudar na FIEB? Então confira como funciona o processo para cada modalidade de ingresso da Fundação</p>
            </div>
        </div>   

        <div class="row m-0">
            <div class=" d-flex justify-content-end col-md-5 col-12 pe-3 p-0">

                <div class="formas-ingresso w-75">
                    <ul>
                        <li>
                            <div class="square"></div>
                            <a data-bs-toggle="collapse" href="#_primeiroAno" data-target-collapse="_primeiroAno">
                                1º Ano - Ensino Fundamental
                            </a>
                        </li>
                        <li>
                            <div class="square"></div>
                            <a data-bs-toggle="collapse" href="#_fundamentalMedio" data-target-collapse="_fundamentalMedio">
                                Educação Básica<br />
                                Ensino Fundamental – 2º ao 9º ano<br />
                                Ensino Médio – 1ª a 3ª série
                            </a>
                        </li>
                        <li>
                            <div class="square"></div>
                            <a data-bs-toggle="collapse" href="#_ensinoTecnico" data-target-collapse="_ensinoTecnico">
                                Educação Técnica (Modular)
                            </a>
                        </li>
                        <li>
                            <div class="square"></div>
                            <a data-bs-toggle="collapse" href="#_reservaVagas" data-target-collapse="_reservaVagas">
                                Reserva de Vagas
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-7 col-12">
                <div class="quem-pode ps-5 ms-5 d-flex flex-column" id="accordionIngresso">

                    <div class="collapse show" id="_primeiroAno" data-bs-parent="#accordionIngresso">
                        <span class="fs-5 fw-bold text-white">Quem pode?</span>
                        <p>
                            Vagas exclusivas a moradores de Barueri<br />
                            Para candidatos com 6 anos completos ou a completar, conforme data estabelecida em edital
                        </p>
                        <a href="" class="btn-acompanhe mt-5">
                            <span class="fs-5 fw-bold text-uppercase">
                                Acompanhe
                            </span>
                        </a>
                    </div>
                    <div class="collapse" id="_fundamentalMedio" data-bs-parent="#accordionIngresso">
                        <span class="fs-5 fw-bold text-white">Quem pode?</span>
                        <p>
                            Vagas exclusivas a moradores de Barueri<br />
                            Sujeito à disponibilidade de vagas remanescentes
                        </p>
                        <a href="" class="btn-acompanhe mt-5">
                            <span class="fs-5 fw-bold text-uppercase">
                                Acompanhe
                            </span>
                        </a>
                    </div>
                    <div class="collapse" id="_ensinoTecnico" data-bs-parent="#accordionIngresso">
                        <span class="fs-5 fw-bold text-white">Quem pode?</span>
                        <p>
                            Vagas abertas ao público geral<br />
                            Forma concomitante: para alunos cursando a 2ª ou 3ª série do Ensino Médio, conforme data estabelecida em edital<br />
                            Forma subsequente: para alunos que já concluíram o Ensino Médio
                        </p>
                        <a href="" class="btn-acompanhe mt-5">
                            <span class="fs-5 fw-bold text-uppercase">
                                Acompanhe
                            </span>
                        </a>
                    </div>
                    <div class="collapse" id="_reservaVagas" data-bs-parent="#accordionIngresso">
                        <span class="fs-5 fw-bold text-white">Quem pode?</span>
                        <p>
                            Destinado exclusivamente aos alunos dos 9º anos do Ensino Fundamental da FIEB e da Rede Municipal de Educação de Barueri
                        </p>
                        <a href="" class="btn-acompanhe mt-5">
                            <span class="fs-5 fw-bold text-uppercase">
                                Acompanhe
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
