<section class="ft-ingresso">
    <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/graf_formas_amarelo_laranja.png"
         alt=""
         class="ft-ingresso-deco-img" />

    <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/graf_pontilhado_cinza.png"
         alt=""
         class="ft-ingresso-dots-img" />

    <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/graf_pontilhado_laranja.png"
         alt=""
         class="ft-ingresso-dots-orange" />

    <div class="container">

        <div class="ft-ingresso-header">
            <h2>Como Ingressar na FIEB</h2>
            <p>
                Tem dúvidas sobre como estudar na FIEB? Então confira como funciona o processo
                para cada modalidade de ingresso da Fundação
            </p>
        </div>

        <div class="ft-ingresso-content">

            <!-- COLUNA ESQUERDA (MENU) -->
            <div class="ft-ingresso-left">
                <ul class="ft-ingresso-menu" id="ftIngressoMenu">

                    <li class="ft-ingresso-item-main active" data-key="fundamental1">
                        1º Ano – Ensino Fundamental
                    </li>

                    <li class="ft-ingresso-divider" aria-hidden="true"></li>

                    <li class="ft-ingresso-item-main ft-ingresso-group" data-key="basica">
                        Educação Básica
                        <span>Ensino Fundamental – 2º ao 9º ano</span>
                        <span>Ensino Médio – 1ª a 3ª série</span>
                    </li>


                    <li class="ft-ingresso-divider" aria-hidden="true"></li>

                    <li class="ft-ingresso-item-main" data-key="tecnica">
                        Educação Técnica (Modular)
                    </li>

                    <li class="ft-ingresso-divider" aria-hidden="true"></li>

                    <li class="ft-ingresso-item-main" data-key="reserva">
                        Reserva de Vagas
                    </li>

                    <li class="ft-ingresso-divider" aria-hidden="true"></li>
                </ul>
            </div>


            <!-- COLUNA DIREITA (CONTEÚDO ÚNICO QUE MUDA) -->
            <div class="ft-ingresso-right">

                <div class="ft-ingresso-mobile-nav">
                    <div class="ft-ingresso-slide-header">
                        <div class="ft-ingresso-slide-title-row">
                            <span class="ft-ingresso-slide-dot"></span>
                            <h4 class="ft-ingresso-slide-title">1º Ano – Ensino Fundamental</h4>
                        </div>
                        <div class="ft-ingresso-slide-line"></div>
                    </div>

                    <div class="ft-ingresso-mobile-arrows">
                        <button type="button" class="ft-ingresso-arrow prev" aria-label="Anterior">
                            <svg viewBox="0 0 70 70" class="arrow-svg">
                                <polyline points="28,18 44,35 28,52" class="arrow-double" />
                                <polyline points="18,18 34,35 18,52" class="arrow-double" />
                            </svg>
                        </button>

                        <button type="button" class="ft-ingresso-arrow next" aria-label="Próximo">
                            <svg viewBox="0 0 70 70" class="arrow-svg">
                                <polyline points="28,18 44,35 28,52" class="arrow-double" />
                                <polyline points="18,18 34,35 18,52" class="arrow-double" />
                            </svg>
                        </button>
                    </div>
                </div>

                <h3>Quem pode?</h3>

                <div class="ft-ingresso-dyn" id="ftIngressoDyn">
                    <!-- JS injeta os <p> aqui -->
                </div>

                <a href="#" class="ft-btn-acompanhe" id="ftIngressoBtn">
                    ACOMPANHE
                </a>
            </div>

        </div>

    </div>
</section>
