<div class="ft-hero wallpaper-home">

    <div class="ft-svg-wrapper">
        <svg class="ft-svg-anim"
             viewBox="0 0 1152 590"
             preserveAspectRatio="xMidYMid meet">

<svg viewBox="0 0 1152 590">
    <g fill="none" fill-rule="evenodd">
        <polygon class="polymorph-left" stroke="#fff" stroke-width="1"
                 points='10,274 660,9 934,382 434,526'></polygon>
        <polygon class="polymorph-right" stroke="#fff" stroke-width="1"
                 points="494,348 848,32 1026,331 966,573"></polygon>
    </g>
    <g id="Criatividade">
        <g id="Elipse_Criatividade" data-name="Elipse Criatividade" transform="translate(0 264)"
           fill="#c65f16" stroke="#c65f16" stroke-width="1">
            <circle cx="10" cy="10" r="10" stroke="none" />
            <circle cx="10" cy="10" r="9.5" fill="none" />
        </g>
        <a href="https://fieb.edu.br/curso/criatividade/" class="text-decoration-none">
            <text id="Criatividade_texto" data-name="Criatividade" transform="translate(28 285)" fill="#fff"
                  font-size="24" font-family="CeraPro-Medium, Cera Pro" font-weight="500">
                <tspan x="0" y="0">Criatividade</tspan>
            </text>
        </a>
    </g>
    <g id="Inovacao">
        <g id="Elipse_Inovacao" data-name="Elipse Inovacao" transform="translate(650 0)" fill="#c65f16"
           stroke="#c65f16" stroke-width="1">
            <circle cx="10" cy="10" r="10" stroke="none" />
            <circle cx="10" cy="10" r="9.5" fill="none" />
        </g>
        <a href="https://fieb.edu.br/curso/inovacao/" class="text-decoration-none">
            <text id="Inovacao-2" data-name="Inovacao" transform="translate(680 20)" fill="#fff"
                  font-size="24" font-family="CeraPro-Medium, Cera Pro" font-weight="500">
                <tspan x="0" y="0">Inovação</tspan>
            </text>
        </a>
    </g>
    <g id="Negocios" data-name="Negocios">
        <g id="Elipse_Negocios" data-name="Elipse Negocios" transform="translate(428 518)" fill="#c65f16"
           stroke="#c65f16" stroke-width="1">
            <circle cx="10" cy="10" r="10" stroke="none" />
            <circle cx="10" cy="10" r="9.5" fill="none" />
        </g>
        <a href="https://fieb.edu.br/curso/negocios/" class="text-decoration-none">
            <text id="Negocios-2" data-name="Negocios" transform="translate(458 538)" fill="#fff"
                  font-size="24" font-family="CeraPro-Medium, Cera Pro" font-weight="500">
                <tspan x="0" y="0">Negócios</tspan>
            </text>
        </a>
    </g>
    <g id="Producao">
        <g id="Elipse_Producao" data-name="Elipse Producao" transform="translate(485 340)" fill="#c65f16"
           stroke="#c65f16" stroke-width="1">
            <circle cx="10" cy="10" r="10" stroke="none" />
            <circle cx="10" cy="10" r="9.5" fill="none" />
        </g>
        <a href="https://fieb.edu.br/curso/producao/" class="text-decoration-none">
            <text id="Producao-2" data-name="Producao" transform="translate(510 355)" fill="#fff"
                  font-size="24" font-family="CeraPro-Medium, Cera Pro" font-weight="500">
                <tspan x="0" y="0">Produção</tspan>
            </text>
        </a>
    </g>
    <g id="BemEstar">
        <g id="Elipse_BemEstar" data-name="Elipse BemEstar" transform="translate(1016 321)" fill="#c65f16"
           stroke="#c65f16" stroke-width="1">
            <circle cx="10" cy="10" r="10" stroke="none" />
            <circle cx="10" cy="10" r="9.5" fill="none" />
        </g>
        <a href="https://fieb.edu.br/curso/bem-estar/" class="text-decoration-none">
            <text id="BemEstar-2" data-name="BemEstar" transform="translate(1040 340)" fill="#fff"
                  font-size="24" font-family="CeraPro-Medium, Cera Pro" font-weight="500">
                <tspan x="0" y="0">Bem-Estar</tspan>
            </text>
        </a>
    </g>
    <g id="EnsinoRegular">
        <g id="Elipse_EnsinoRegular" data-name="Elipse EnsinoRegular" transform="translate(956 563)"
           fill="#c65f16" stroke="#c65f16" stroke-width="1">
            <circle cx="10" cy="10" r="10" stroke="none" />
            <circle cx="10" cy="10" r="9.5" fill="none" />
        </g>
        <a href="https://fieb.edu.br/curso/educacao-basica-ensino-fundamental/"
           class="text-decoration-none">
            <text id="EnsinoRegular-2" data-name="EnsinoRegular" transform="translate(980 580)" fill="#fff"
                  font-size="24" font-family="CeraPro-Medium, Cera Pro" font-weight="500">
                <tspan x="0" y="0">Ensino Regular</tspan>
            </text>
        </a>
    </g>
</svg>
        </svg>
    </div>

    <div class="ft-hero-arrow">
        <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/setahome.png" class="ft-hero-arrow-img" />
    </div>
</div>
