<div class="ft-hero wallpaper-home">

    <div class="ft-svg-wrapper">
        <svg class="ft-svg-anim"
             viewBox="0 0 1152 590"
             preserveAspectRatio="xMidYMid meet">

            <g fill="none" fill-rule="evenodd">
                <polygon class="polymorph-left" stroke="#fff" stroke-width="1"
                         points="77.95938846720004,256.18927032319993 582.9563168767999,24
                             859.5777762304,399.9187769344001 442.0643641343999,541.2735649792">
                </polygon>

                <polygon class="polymorph-right" stroke="#fff" stroke-width="1"
                         points="466.60872249469395,348.36041154612246 876.4725121436734,38.48740783020406
                             998.2483109485715,342.8935810220408 941.852426409796,550.6544841404083">
                </polygon>
            </g>

            <g id="Criatividade" style="transform: translateX(72.9594px) translateY(-14.8107px);">
                <g transform="translate(0 264)" fill="#c65f16" stroke="#c65f16" stroke-width="1">
                    <circle cx="10" cy="10" r="10"></circle>
                    <circle cx="10" cy="10" r="9.5" fill="none"></circle>
                </g>
                <text transform="translate(28 285)" fill="#fff" font-size="24">Criatividade</text>
            </g>

            <g id="Inovacao" style="transform: translateX(-76.6552px) translateY(11.3885px);">
                <g transform="translate(650 0)" fill="#c65f16" stroke="#c65f16">
                    <circle cx="10" cy="10" r="10"></circle>
                    <circle cx="10" cy="10" r="9.5" fill="none"></circle>
                </g>
                <text transform="translate(680 20)" fill="#fff" font-size="24">Inovação</text>
            </g>

            <g id="Negocios" style="transform: translateX(4.91571px) translateY(13.8851px);">
                <g transform="translate(428 518)" fill="#c65f16" stroke="#c65f16">
                    <circle cx="10" cy="10" r="10"></circle>
                    <circle cx="10" cy="10" r="9.5" fill="none"></circle>
                </g>
                <text transform="translate(458 538)" fill="#fff" font-size="24">Negócios</text>
            </g>

            <g id="Producao" style="transform: translateX(-27.0309px) translateY(0px);">
                <g transform="translate(485 340)" fill="#c65f16" stroke="#c65f16">
                    <circle cx="10" cy="10" r="10"></circle>
                    <circle cx="10" cy="10" r="9.5" fill="none"></circle>
                </g>
                <text transform="translate(510 355)" fill="#fff" font-size="24">Produção</text>
            </g>

            <g id="BemEstar" style="transform: translateX(-27.0309px) translateY(10.8123px);">
                <g transform="translate(1016 321)" fill="#c65f16" stroke="#c65f16">
                    <circle cx="10" cy="10" r="10"></circle>
                    <circle cx="10" cy="10" r="9.5" fill="none"></circle>
                </g>
                <text transform="translate(1040 340)" fill="#fff" font-size="24">Bem-Estar</text>
            </g>

            <g id="EnsinoRegular" style="transform: translateX(-25.2288px) translateY(-23.4268px);">
                <g transform="translate(956 563)" fill="#c65f16" stroke="#c65f16">
                    <circle cx="10" cy="10" r="10"></circle>
                    <circle cx="10" cy="10" r="9.5" fill="none"></circle>
                </g>
                <text transform="translate(980 580)" fill="#fff" font-size="24">Ensino Regular</text>
            </g>

        </svg>
    </div>

    <div class="ft-hero-arrow">
        <img src="https://fieb.edu.br/wp-content/themes/fieb-2022/img/setahome.png" class="ft-hero-arrow-img" />
    </div>
</div>
